{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Social ads quotation tool</h1>
        <a href="https://socialads.alexrans.com" target="_blank">link</a> - <a target="_blank" href="https://github.com/alex-rans/socialads">Github</a>

        <h2 class="mt-5">Introduction</h2>
        <p>The social media team here at iO requested a tool to easily calculate the workload and price of different
            kinds of posts. They wanted a tool because making a quotation was very nuanced and this resulted in
            people making mistakes and giving unrealistic quotes to a client.</p>
        <h2 class="mt-3">Technologies</h2>
        <p>This tool is made in the Symfony PHP framework. Most off the calculations are done with javascript to
            prevent page reloads while making calculations. The Framework was primarely used for the admin back-end
            to edit posts, parameters and manage users.</p>
    </div>
{% endblock %}