{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Vinylshop</h1>
        <a href="https://vinylshop.alexrans.com" target="_blank">link</a> - <a target="_blank" href="https://github.com/alex-rans/vinylstore">Github</a>
        <h1 class="mt-5">Title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet ex expedita ipsum minima natus odit pariatur
            placeat praesentium provident quasi quia quibusdam quisquam quod, recusandae saepe, voluptates? Cum,
            totam!</p>
        <a href="/">back</a>
    </div>
{% endblock %}