{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Vinyl shop</h1>
        <a href="https://vinylshop.alexrans.com" target="_blank">link</a> - <a target="_blank" href="https://github.com/alex-rans/vinylstore">Github</a>
        <h1 class="mt-3">Context</h1>
        <p>The vinyl shop project was an exciting endeavor assigned to us during our PHP classes, marking the beginning
            of my journey into working with PHP frameworks and back-end development. It proved to be an immensely
            interesting and enlightening project. Our primary objective was to develop a fully functional e-commerce
            website dedicated to selling vinyl records. In addition to the front-end, we were
            also required to create an admin back-end to manage the inventory, orders, and overall website functionality.</p>
        <p>we dived into the intricacies of back-end development using PHP. We learned about handling user
            authentication, managing secure sessions, and implementing robust data validation to ensure the
            integrity and security of the website. Utilizing the chosen PHP framework's functionality, we seamlessly
            integrated the front-end with the back-end, enabling customers to browse and search for vinyl records, add
            items to their cart, and proceed to the checkout process with ease.</p>
        <p>For the administrative back-end, we focused on providing an efficient and user-friendly interface for the
            website administrators. We implemented functionalities to manage product listings, including adding new
            records, updating existing ones, and removing sold-out items. We also incorporated features for order
            management, and updating their status.</p>
        <p>In conclusion, the vinyl shop project was an enriching experience that allowed us to explore the realm
            of PHP frameworks and back-end development. We successfully created an e-commerce website dedicated to
            vinyl records, encompassing both a user-friendly front-end and an efficient admin back-end. This project
            not only enhanced our technical skills but also deepened our understanding of the intricacies involved in
            building a robust and functional web application.</p>
        <a href="/">back</a>
    </div>
{% endblock %}