{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Noire Cosmetics</h1>
        <a href="noirecosmetics.alexrans.com" target="_blank">link</a> - <a target="_blank" href="https://github.com/alex-rans/noire_cosmetics">Github</a>
    </div>
{% endblock %}