{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Memorylog</h1>
        <a href="https://projectphp.lst-b.be/login" target="_blank">link</a> - <a target="_blank" href="https://github.com/itfactory-tm/2022-ProjectPHP-402">Github</a>
        <h2 class="mt-5">Context</h2>
        <p>Memorylog was for a group PHP project. This project consisted of two phases. The first phase is where you have
            to analyze the requirements of the client and make a business case and project plan. The second phase was
            to develop a website of another group's project plan from a different client. This ensured that we both
            know how to make a project plan and how to develop one.</p>
        <h2>Concept</h2>
        <p>The goal of the project was to make an app where people suffering from dementia or other disorders that can
        affect your memory. Patients can sign up for free and connect to their doctors, caretakers or nurses. On there
        they are reminded to take their medication or what they have planned on their calendar. They can also write logs
        for the caretakers or nurses to see how they are doing. Doctors that have been linked to a patient can prescribe
        their patients' medication. Caretakers and nurses can make plans in the patients calendar and read their logs.</p>
        <h2>Development</h2>
        <p>This project was made in a team. We used various issue tracking software and devops tools to work closely
            and efficiently together. We used Laravel as framework, jira for issue tracking and GitHub for version
            control. Working in a team was a learning experience and besides a few merge conflicts, it went really great.</p>
    </div>
{% endblock %}