<div id="sidebar-menu">
    <div id="toggleMenu">
        <div class="list"><i class="fa-solid fa-bars"></i></div>
        <div class="thumbs"><i class="fa-solid fa-ellipsis-vertical"></i></div>
    </div>
    <ul>
        <li class="DASHBOARD"><i class="fa-solid fa-house"></i><span>DASHBOARD</span></li>
        <li class="USERS"><i class="fa-solid fa-address-card"></i><span>USERS</span></li>
    </ul>
</div>
