
{#<nav>#}
{#    <div class="navbar">#}
{#        <input class="checkbox" type="checkbox" name="" id="" />#}
{#            <div class="hamburger-lines">#}
{#                <span class="line line1"></span>#}
{#                <span class="line line2"></span>#}
{#                <span class="line line3"></span>#}
{#            </div>#}
{#            <div class="menu-items">#}
{#                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>#}
{#                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>#}
{#                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>#}
{#                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>#}
{#                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>#}
{#            </div>#}
{#    </div>#}
{#</nav>#}

    <div id="sidebar-menu">
        <div id="toggleMenu">
            <div class="list"><i class="fa-solid fa-bars"></i></div>
            <div class="thumbs"><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <ul>
            <li class="DASHBOARD"><i class="fa-solid fa-house"></i><span>DASHBOARD</span></li>
            <li class="USERS"><i class="fa-solid fa-address-card"></i><span>USERS</span></li>
        </ul>
    </div>
