<nav>
    <a id="hamburger-icon" title="Menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>
    <div id="sidebar-menu">
        <ul class="">
            <li class="HOME"><a href="/#" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-house"></i><span class="d-none">HOME</span></a></li>
            <li class="ABOUT"><a href="/#about" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-user"></i><span class="d-none">ABOUT</span></a></li>
            <li class="INTERNSHIP"><a href="/projects/socialads" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-briefcase"></i><span class="d-none">INTERNSHIP</span></a></li>
            <li class="PROJECTS"><a href="/#projects" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-book-open"></i><span class="d-none">PROJECTS</span></a></li>
            <li class="SKILLS"><a href="/#skills" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-star"></i><span class="d-none">SKILLS</span></a></li>
        </ul>
        <ul>
            <li class="GITHUB"><a href="https://github.com/alex-rans" target="_blank" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-brands fa-github"></i><span class="d-none">GITHUB</span></a></li>
            <li class="LINKEDIN"><a href="https://www.linkedin.com/in/alex-rans/" target="_blank" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-brands fa-linkedin"></i><span class="d-none">LINKED IN</span></a></li>
            <li class="RESUME"><a href="{{ asset('/build/files/Rans_CV.pdf') }}" target="_blank" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-file"></i><span class="d-none">RESUME</span></a></li>
            <li class="CONTACT"><a href="mailto:alexrans@protonmail.com" class="d-flex justify-content-sm-start justify-content-center"><i class="align-self-center fa-solid fa-envelope"></i><span class="d-none">CONTACT</span></a></li>
        </ul>
    </div>
</nav>