<nav>
    <a id="hamburger-icon" href="#" title="Menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>
    <div id="sidebar-menu">
        <ul>
            <li class="DASHBOARD"><a href="/projects" class="d-flex justify-content-sm-start justify-content-center"><i class="fa-solid fa-house"></i><span class="d-none">DASHBOARD</span></a></li>
            <li class="USERS"><a href="/projects" class="d-flex justify-content-sm-start justify-content-center"><i class="fa-solid fa-address-card"></i><span class="d-none">USERS</span></a></li>
        </ul>
    </div>
</nav>