<div id="sidebar-menu">
{#    <div id="toggleMenu">#}
{#        <div class="list"><i class="fa-solid fa-bars"></i></div>#}
{#        <div class="thumbs"><i class="fa-solid fa-ellipsis-vertical"></i></div>#}
{#    </div>#}
{#    <div id="nav-icon3 toggleMenu">#}
{#        <span></span>#}
{#        <span></span>#}
{#        <span></span>#}
{#        <span></span>#}
{#    </div>#}
    <a id="hamburger-icon" href="#" title="Menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>
    <ul>
        <li class="DASHBOARD"><i class="fa-solid fa-house"></i><span>DASHBOARD</span></li>
        <li class="USERS"><i class="fa-solid fa-address-card"></i><span>USERS</span></li>
    </ul>
</div>
