{% extends 'layout/template.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="mb-0 pt-5">Portfolio</h1>
        <a href="https://alexrans.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You're already there silly">link</a>
        - <a target="_blank" href="https://github.com/alex-rans/portfolio">Github</a>
        <h2 class="mt-5">Context</h2>
        <p>I desperately needed a new portfolio because my old one was hosted on my old name, it was boring, bland
        and in general just really generic with not a lot of personality. I wanted to create a new portfolio that
        reflects who I am in the design and what I am interested in, as well as showcasing my projects and skills.
        I did not make a design or brainstormed about how I was going to achieve this. I just did the thing and added
        stuff that just said "Alex".</p>
        <h2>Frameworks</h2>
        <p>The portfolio is made in the symfony framework. The reason I chose to work with a framework instead
            of a static page was because I wanted to make use of the twig template engine and to keep some data in the
            controllers. I went with a design that's very personal to me by using soft pastel colors, polaroids
            and cutesy icons.</p>
        <h2>Hosting</h2>
        <p>To host this website I use AWS EC2. The reason I wanted to use this is to automatically deploy my
            website when I push to the git using continuous integration via Github Actions. This was quite the challenge
            since I've never used AWS before. Luckily I have some experience with virtual private servers and setting
            up a webserver. As web server I opted to use Apache as im somewhat familiar with this.</p>
        <h2>Final words</h2>
        <p>I learned a lot about hosting, AWS and Github actions when developing this portfolio. In hindsight, it
            probably would've been better to use a Javascript template engine or to use React or Angular instead of
            a PHP framework.</p>
    </div>
{% endblock %}