.custom-shape-divider-top-1681312239 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681312239 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
}

.custom-shape-divider-top-1681312239 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1681319272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681319272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
}

.custom-shape-divider-top-1681319272 .shape-fill {
  fill: #F8C8DC;
}